zhipuai==1.0.7
pymysql
openpyxl
numpy
matplotlib
PyMuPDF
scikit-learn
tensorflow-text==2.10.0
tensorflow==2.10.1 # do not support gpu on windows, slower but more stable since we do not use gpu.
tensorflow-hub
gradio
#langchain-serve>=0.0.19
regex
# openai we use a different virsion of openai that may cause some conflict, to avoid this, we copy the openai folder here and do not need to install some openai package again.

# required for openai
aiohttp